* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

#geral{
   margin: 20px auto; 
   padding: 20px;
   /*padding: 40px 6px 8px 120px;
   padding: 50px 8px;*/
   width: 500px;
   min-height: 550px;
   border: 2px solid #c3d3ec;
   border-radius: 8px;
}

h2{
    text-align: center;
    margin: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #88847f;
}

form{
    width: 100%;
    background-color: #c3d3ec;
    padding: 15px;
    border-radius: 8px;
}

label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
}

input{
    font-size: 1.2em;
    padding: 8px;
}

.input-01{
    width: 400px;
}

.input-02{
    width: 150px;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}

#div-btns{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 120px;
    height: 25px;
    border: none;
}

#btn-add{
    background-color: #4f76b4;
    color: #ffffff;
    margin-right: 10px;
}

#btn-limpar{
    background-color: #f95b00;
    color: #ffffff;
}

#div-lista{
    width: 100%;
    min-height: 300px;
    margin: 20px 0px;
    padding: 10px;
    font-size: 12px;
}

.div-pessoa{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}